@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  .btn,
  .card__toolbar,
  header,
  footer,
  .toolbar {
    display: none !important;
  }

  .card--power-armor .card__frame {
    aspect-ratio: 63 / 88 !important;
  }

  .board__stack {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
