@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  .btn,
  .card__toolbar,
  header,
  footer,
  .toolbar {
    display: none !important;
  }

  .card--power-armor .card__frame {
    aspect-ratio: 63 / 88 !important;
  }

  .card--power-armor .card__img {
    transform: rotate(90deg);
    transform-origin: center;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .board__stack {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
